:root {
  --color-primario: #054724ff;
  --color-secundario: #ffffff;
  --color-terciario: #E8F8EE;
  --color-acento: #3e8341;

  --color-fondo: #F5F5F5;
  --color-texto: #000000;
  --color-borde: #E0E0E0;

  --fuente-principal: 'DM Sans', sans-serif;
}
