@import "./_variables.css";
@import "tailwindcss";
@import "tailwindcss-animated";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--fuente-principal);
}

/* Estilos personalizados para SweetAlert2 de Iniciar Corte de Caja */
.swal-custom-input {
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #374151;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  outline: none;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}
.swal2-input-label {
  font-size: 0.875rem;
  color: #374151;
  font-weight: 400;
  display: block;
  text-align: center;
}
.swal-custom-input::-webkit-outer-spin-button,
.swal-custom-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.swal-custom-input[type="number"] {
  appearance: textfield;
}
.swal-custom-input:focus {
  border-color: var(--color-acento);
  box-shadow: 0 0 0 1px var(--color-acento);
}
