@import "./_variables.css";
@import "tailwindcss";
@import "tailwindcss-animated";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--fuente-principal);
}
